* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
::-webkit-scrollbar {
    width: 0.3vw;
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 100vw;
}
body {
    background-color: black;
}
nav {
    position: fixed;
    text-align: center;
    color: rgb(255, 255, 255,0);
    font-size: 5vh;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: calc(100% + 20%);
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
nav p {
    display: none;
}
section {
    background-image: url('../material/nebula.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}
footer {
    width: 100%;
    height: auto;
    color: rgb(50, 50, 50);
    text-align: center;
    font-size: 3vw;
}
footer i {
    margin: 8%;
}
footer p {
    margin-top: 5%;
}
#line1 {
    width: 100%;
    padding-top: 0.5%;
    background-color: black;
    margin-bottom: 10%;
}
#line2 {
    width: 100%;
    padding-top: 0.5%;
    background-color: rgb(50, 50, 50);
    margin-top: 10%;
}
#logo {
    width: 50vw;
    margin: 10% 0;
}
#background {
    background-image: linear-gradient(rgb(1, 18, 43), rgb(0, 0, 0) );
    height: auto;
    text-align: center;
}
#midburger {
    transition: all 0.5s ease-in-out;
}
.activate {
    width: fit-content;
}
.burger {
    width: 8vw;
    height: 1vw;
    background-color: white;
    border-radius: 1vw;
    margin: 2vw 0 0 2vw;
    transition: all 0.5s ease-in-out;
}
nav.close {
    width: auto;
    height: auto;
    display: inline-block;
}
nav.open {
    background-color: rgb(50, 50, 50, 0.9);
    color: rgb(255, 255, 255,1);
    overflow: scroll;
}
nav.open::-webkit-scrollbar {
    width: 0;
    height: 0;
}
nav.open.close {
    width: 100vw;
    height: 120vh;
    display: flex;
}
nav.open p {
    display: inline-block;
}
nav.open #midburger{
    transform: translateX(2vw);
}
.tiers {
    display: inline-block;
    width: 80%;
    height: 100vw;
    background-color: rgb(50, 50, 50,0.25);
    margin: 10%;
    border-radius: 20%;
    font-size: 5vw;
    color: rgb(255, 255, 255,0.75);
    vertical-align: bottom;
    overflow: hidden;
}
.tiers p {
    margin: 5% 10%;
}
.links {
    width: 15%;
    margin-top: 5%;
}
.tierimg {
    width: 40%;
    margin: 5%;
}
@media (min-width: 600px) {
    .tiers {
        width: 25%;
        height: 30vw;
        margin: 3%;
        font-size: 1.7vw;
    }
    #line1 {
        margin-bottom: 5%;
        padding-top: 0.2%;
    }
    #line2 {
        margin-top: 5%;
        padding-top: 0.2%;
    }
    .burger {
        width: 4vw;
        height: 0.5vw;
        margin: 1vw 0 0 1vw;
    }
    nav.open #midburger {
        transform: translateX(1vh);
    }
    .links {
        width: 5%;
        margin-top: 1%;
    }
    footer {
        font-size: 2vw;
    }
    footer i {
        margin: 3%;
    }
    footer p {
        display: inline-block;
        margin: 0 0 1vw 24vw;
    }
}
